---
import Section from "../Section.astro";
import { basics } from "@/data/cv";
---

<Section title="Sobre mí">
  <p>{basics.summary}</p>
</Section>

<style>
  p {
    font-size: 0.95rem;
    color: #ccc;
    line-height: 1.6;
  }
</style>
