---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 900px;
    margin: 0 auto 48px;
  }

  h2 {
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.8rem;
    color: var(--accent-dark);
    position: relative;
  }

  body.light h2 {
    color: var(--accent-light);
  }

  h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: var(--accent-dark);
    margin-top: 4px;
    border-radius: 2px;
  }

  body.light h2::after {
    background-color: var(--accent-light);
  }
</style>
